<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Revisitingcriticalgis.github.io : ">

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Revisiting Critical GIS</title>
  </head>

  <body>

  
    <!-- MAIN CONTENT -->

    <div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">

      <section class="container content"> 
        {{ content }}
      </section>
    </section>

    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

    

  </body>
</html>
